/* property */
:root {
    --primary-color: #EEEFF1; 
    --secondery-color: #34547A;
    --basic-text-color: #000000;
    --section-color: #727272;
    --text-position: center;
} 


/* reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
    width: 100%;
}

html {
    font-size: 16px ;
}

body {
    font-size: 1rem;
    font-family: "Roboto", serif;
}  

/* general */
.container {
    width: 61% ;
    margin: 0 auto;
    padding: 3%;
}

h2 {
    text-align: var(--text-position);
}

.hero__title, .about__title, .hero__title, .about__title {
    font-weight: 500;
}

.header,.work{
    background:  var(--primary-color)
}

.nav, .project-conteiner {
    justify-content: space-between;
}

.nav, .project__description, .project__items, .project-conteiner, .design {
    display: flex;
}

.work-header__text, .about__text {
    color: var(--section-color);
}

.project , .footer, .hero__btn {
    background-color: var(--secondery-color);
    color: var(--primary-color);
}

.work-header__text, .about__text, .hero__btn, .hero__text {
    line-height: 1.64rem;
}


/* HEADER */
.header {
    padding: 80px 0;
}

    /*bar */
.navbar{
    margin-bottom: 162px;
}

.nav {
    list-style: none;
    flex-wrap: wrap;
    column-gap: 23px;
    margin-left: -10px;

}

.nav__item {
    margin: 2%;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: var(--basic-text-color);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.64;
    cursor: pointer;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:hover, .nav__link--active {
    color: var(--secondery-color);
}

.design {
    flex-direction: column;
    align-items: flex-start;
}

.hero__title {
    font-size: 3rem;
    line-height: 2;
    margin-bottom: 60px ;
}

.hero__text {
    margin-bottom:  65px;
    color: var(--section-color);
    max-width: 540px;
}

    /* button */
.hero__btn {
    display: inline-block;
    min-width: 225px;
    text-decoration: none;
    padding: 20px 2%;
    text-align: var(--text-position);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-bottom: 140px;
}

.hero__btn:hover{
    background-color: #3f6088;
    color: #a8dbbf;
}

/* ABOUT */

.about{
    margin: 4em;
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 3% ;
    text-align: center;
}

.about__title {
    font-size: 2rem;
    line-height: 3.92rem;
    margin-bottom: 40px;
}

.about-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 3%;
}
.about__text {
    text-align: var(--text-position);
}


/* PROJEKT */
.project-conteiner {
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
}

.project__items {
    gap: 20px;
}

.project__description{
    flex-direction: column;
    gap: 10px;
}

.project__number {
    font-size: 1.31rem; ;   
}


/* WORK */
.work-header{
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 3% 50px;
    text-align: var(--text-position);
}

.work-header__title{
    font-size: 2rem;
    line-height: 2.34rem;
    margin-bottom: 50px;
}


.video {
    display: flex;
    justify-content: center;
}

.work-video {
    max-width: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.work-video iframe {
    max-width: 1110px;
    width: 100%;
    max-height: 600px;
}


/* FOOTER*/
.footer__bg {
    font-size: 1.3em;
    margin: 0 auto;
    padding:  3% 23.3% 0;
}

.footer__sm  {
    margin: 0 auto;
    padding:  0.7% 23.3% 3%;
    font-size: 13px;
}


/* @media adaptive */
@media screen and (max-width: 375px) {
    .hero__btn {
        min-width: 5px;
        margin-bottom: 0 auto;
    }
}

@media (max-width: 767px){
    .nav {
        display: none;
        margin-top: 30px;
    }
    .work-video iframe {
        max-height: 250px;
    }
}

@media screen and (min-width: 768px) {
    
    .hero__text {
        width: 540px;
    }
    .work-video iframe {
        max-height: 450px;
    }
}

@media screen and (max-width: 992px) {
    .about-container {
        margin-bottom: 40px;
    }
    .project-conteiner {
        justify-content: center;
        gap: 30px;
        padding: 50px 0;
    }
    .project__items{
        justify-content: center;
        flex-basis: 25%;
    }
    .work-header__title, .work-video  {
        margin-bottom: 60px;
    }
    .work-video iframe {
        height: 600px;
    }
}

@media screen and (max-width: 1499px) {
    .about-container {
        margin-bottom: 40px;
    }
    .project-conteiner {
        gap: 30px;
        padding: 50px 0;
    }
    .project__items{
        justify-content: center;
        flex-basis: 25%;
    }
}


/* burger */
@media (min-width: 768px) {
    .navbar__btn {
        display: none;
    }
}

.navbar__btn.active span:nth-child(1){
    top: 9px;
    transform: rotate(135deg);
}

.navbar__btn.active span:nth-child(2){
    opacity: 0;
    left: -30px;
}

.navbar__btn.active span:nth-child(3){
    top: 9px;
    transform: rotate(-135deg);
}

.navbar__btn-row {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.navbar__btn-row:nth-child(1) {
    top: 0;
}

.navbar__btn-row:nth-child(2) {
    top: 9px;
}

.navbar__btn-row:nth-child(3) {
    top: 18px;
}

.nav--active {
    display: block;
}

.navbar__btn {
    width: 30px;
    height: 22px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}