* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}

body {
    display: flex;
	line-height: 1;
    justify-content: center;
    background-color: rgba(173, 164, 152, 0.479);
}

ol, ul {
	list-style: none;
}
































