*{
    box-sizing: border-box;
}

/* I set the size of the blocks */
.rectangle {
    height: 120px;   
}
.rectangle__x2 {
    height: 205px;  
}
.rectangle__blocks_R_x2, .rectangle__blocks_L_x2, .rectangle__blocks_R_x2_2, .rectangle__blocks_L_x2_2 {
    width: 190px;
    height: 50%;
}
.rectangle__blocks_R, .rectangle__blocks_L {
    width: 595px;
    height: 95px;
}
.blocks__items_big {
    width: 180px;
    height: 165px;
}
.blocks__items_R, .blocks__items_L {
    width: 180px;
    height: 80px;
}

/* I set the color and width for the main block */
.rectangle, .rectangle__x2 {
    width: 1200px;
    background-color: gray;
    border: solid black;
}
.blocks__items_R, .blocks__items_L, .blocks__items_big  {
    background-color: azure;
    border: solid black;
}


/* set float and margin */
.blocks__items_L, .rectangle__blocks_L_x2 {
    float: left;
}
.blocks__items_R,.rectangle__blocks_R, .rectangle__blocks_R_x2,.rectangle__blocks_R_x2_2 {
    float: right;
}
.rectangle__x2, .rectangle__blocks_R_x2, .rectangle__blocks_L_x2, .blocks__items_big, .rectangle__blocks_R, .rectangle__blocks_L, .blocks__items_R, .blocks__items_L, .rectangle  { 
    margin: 1%;
}
.rectangle__blocks_R_x2_2 {
    margin: 1% 36% 1% 1%;
}
.rectangle__blocks_L_x2_2 {
    margin: 1% 1% 1% 30%;
}





